header {
  display: flex;
  justify-content: space-between;
}

/* nav > .icon-menu {
    border: 1px solid red;
} */

nav > .nav-items {
  display: none;
}

nav > .nav-items-visible {
  background-color: var(--Almost-White);
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  margin-left: -60vw;
}
nav > .trans {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  width: 40vw;
  height: 100vh;
  margin: -10px;
  display: none;
}

nav > .nav-items-visible > .icon-close-menu {
  text-align: right;
}

nav > .nav-items-visible > ul {
  width: 60%;
  padding: 20px;
  height: 30vh;
  text-transform: capitalize;
  list-style-type: none;
  color: var(--Medium-Gray);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav > .nav-items-visible > ul > li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > .nav-items-visible > ul > li > .up-arrow {
  display: none;
}

nav > .nav-items-visible > ul > li > ul.sub-items {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  background-color: var(--Almost-White);
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--Medium-Gray);
  display: none;
}
nav > .nav-items-visible > ul > li > ul.sub-items > li {
  padding: 10px;
}

nav > .nav-items-visible > .user-auth {
    color: var(--Medium-Gray);
    margin: 10px;
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

nav > .nav-items-visible > .user-auth > span {
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav > .nav-items-visible > .user-auth > span.register {
    border: 2px solid var(--Medium-Gray);
    border-radius: 20px;
}

@media only screen and (min-width: 1200px)
{
  header {
    width: 100%;
    margin-bottom: 5%;
    justify-content: flex-start;
    color: var(--Medium-Gray);
  }
  header li:hover {
    color: var(--Almost-Black);
  }
  .logo {
    width: 10%;
  }
  nav {
    width: 90%;
  }
  nav > .nav-items {
    display: block;
  }
  .icon-menu,
  .icon-close-menu {
    display: none !important;
  }
  nav > .nav-items > ul {
    width: 60%;
    text-transform: capitalize;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  nav > .nav-items {
    display: flex;
    justify-content: space-between;
  }
  nav > .nav-items > ul > li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 15%;
  }
  nav > .nav-items > ul > li > ul {
    position: absolute;
    list-style-type: none;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 100px;
    background-color: var(--Almost-White);
    box-shadow: 0 0 13px var(--Medium-Gray);
    border-radius: 20px;
    padding: 10px;
  }
  nav > .nav-items > ul > li > ul > li {
    padding: 5px;
  }
  .user-auth > span {
    text-transform: capitalize;
    padding: 5px;
    margin: 10px;
  }
  .user-auth > span.register {
    border: 2px solid var(--Medium-Gray);
    border-radius: 10px;
  }
  .user-auth > span.register:hover {
    border-color: var(--Almost-Black);
  }
  .user-auth > span:hover {
    color: var(--Almost-Black);
  }
}
