.home-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.home-body > h1 {
  color: var(--Almost-Black);
  margin-bottom: 25px;
}

.home-body > p {
  color: var(--Medium-Gray);
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.home-body > span {
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
  border: 1px solid var(--Almost-Black);
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 1200px) {
  .home-body {
    width: 40%;
    height: 60%;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
  }
  .home-body > h1 {
    font-size: 70px;
    font-weight: 400;
  }
  .home-body > p {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .home-body > span:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
  }
}
